//= javascript_include_tag "//www.google.com/jsapi", "chartkick"

.row
  %blockquote
    %p 把时间浪费在美好的事物上

.row.text-center
  - if map.sum > 100 * 60 
    %h1= "#{map.sum / 60}"
    %h5 总小时
  - else
    %h1= "#{map.sum}"
    %h5 总分钟

- @user_items.each do |item|
  .row.text-center
    .col-xs-6.col-md-6
      %p.item= item.title 
    .col-xs-6.col-md-6 
      %p.item= "#{map.sum_by_item(item.title)} 分钟"

.row
  = pie_chart map.hash_item_title_value

.row
  = link_to "开始浪费", new_record_path, class: "btn btn-success btn-block btn-lg"
